{
  "singleQuote": false,
  "semi": true,
  "vueIndentScriptAndStyle": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/assets/css/tailwind.css"
}
